<div class='row'>
    <div class="side-bar grey darken-1 col s12 m4 l3">
        <%= render "partials/left-side" %>
    </div>


    <div class="col s12 m4 l7 grey darken-3">
        <div class="container">
            <img class="logo" src="assets/subsessionslogo.png"/>
            <!-- <h2><span class="sea-header">Seattle</span> <span class="sub-header">Sub</span><span class="sea-header"> Sessions</span></h2> -->
            <%= render "partials/slides" %>
            <p class="statement">Seattle's favorite Dubstep monthly falling on the 3rd Saturday of every month at Club Contour.</p>
            <p class="address">807 1st Ave</p>
            <p class="address">Seattle, WA</p>


        </div>
    </div>

    <div class="side-bar grey darken-1 col s12 m4 l2">
        <%= render "partials/right-side" %>
    </div>
</div>
