<h1 class="headline">Seattle Sub Sessions Resident Artists</h1>
<div class="container">
    <h3 class="alias">Bionica</h3>
    <img class="press-img" src="assets/Bionica.jpg"/>
    <a href=https://soundcloud.com/bionica><img class="soundcloud" src="assets/soundcloud.png"/></a>
</div>
<div class="container">
    <h3 class="alias">Canaan</h3>
    <img class="press-img" src="assets/Canaan.jpg"/>
    <a href="https://soundcloud.com/canaan_dubs"><img class="soundcloud" src="assets/soundcloud.png"/></a>
</div>
<div class="container">
    <h3 class="alias">Glocks&Techs</h3>
    <img class="press-img" src="assets/GlocksTechs.jpg"/>
    <a href="https://soundcloud.com/glocks4techs"><img class="soundcloud" src="assets/soundcloud.png"/></a>
</div>
<div class="container">
    <h3 class="alias">K$</h3>
    <img class="press-img" src="assets/Kingshit.jpg"/>
    <a href="https://soundcloud.com/kingshitdubz"><img class="soundcloud" src="assets/soundcloud.png"/></a>
</div>
<div class="container">
    <h3 class="alias">Truble</h3>
    <img class="press-img" src="assets/TrubleSub.jpg"/>
    <a href="https://soundcloud.com/trubledubs"><img class="soundcloud" src="assets/soundcloud.png"/></a>
</div>
