<div class="container">
    <h4 class="upcoming">Upcoming Events</h4>
    <h6 class="event-header">Berrix<br> @ Seattle Sub Sessions</h6>
    <img class="event-img" src="assets/BerrixBanner.jpg" />
    <a class="rsvp waves-effect waves-light btn" href="https://www.facebook.com/events/158573494735871/">RSVP</a>

    <h6 class="event-header">N-Type & Rockwell<br> @ Binary</h6>
    <img class="event-img" src="assets/binaryNtype.jpg" />
    <a class="rsvp waves-effect waves-light btn" href="https://www.facebook.com/events/1940313149624609/">RSVP</a>
</div>
