<div class="container">
    <h4 class="socials">Social Media</h4>
    <div class="container">
        <img class="facebook social-media" src="assets/facebook-logo.png"/>
        <div class="fb-like" data-href="https://www.facebook.com/seattlesubsessions/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </div>
    <div class="container">
        <img class="instagram social-media" src="assets/instergram.png"/>
        <p class="handle">@SubSessionsSea</p>
    </div>
    <div class="container">
        <img class="twitter social-media" src="assets/twitter.png"/>
        <p class="handle">@SubSessionsSea</p>
    </div>
    <div class="container">
        <img class="snapchat social-media" src="assets/snapchat.png"/>
        <p class="handle">@SubSessionsSea</p>
    </div>
    <div class="container">
        <a href="mailto:seattlesubsessions@gmail.com"><img class="mail social-media" src="assets/mail.png"/></a>
    </div>
</div>
