<div class="container">
    <div>
        <img class="facebook" src="assets/facebook-logo.png"/>
        <div class="fb-like" data-href="https://www.facebook.com/seattlesubsessions/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </div>
    <div>
        <img class="instagram" src="assets/instagram.png"/>
    </div>
    <div>
        <img class="twitter" src="assets/twitter.png"/>
    </div>
    <div>
        <img class="snapchat" src="assets/snapchat.png"/>
    <div>
        <div>
            <a href="mailto:seattlesubsessions@gmail.com"><img class="mail" src="assets/mail.png"/></a>
        </div>
</div>
