<div>
    <div class="carousel">
      <a class="carousel-item" href="#one!"><img src="assets/BerrixNovember17.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="assets/SpacejailOctober17.jpg"></a>
      <a class="carousel-item" href="#fifteen!"><img src="assets/SauleOctober17.jpg"></a>
      <a class="carousel-item" href="#fifteen!"><img src="assets/TheGreysSeptember17.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="assets/BenzSeptember17.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="assets/DubamineAugust17.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="assets/GothTradAugust17.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="assets/GrieferJuly17.jpg"></a>
      <a class="carousel-item" href="#six!"><img src="http://www.placecage.com/g/250/450"></a>
      <a class="carousel-item" href="#seven!"><img src="assets/SuddenDeathMay17.jpg"></a>
      <a class="carousel-item" href="#eight!"><img src="assets/SepiaApril17.jpg"></a>
      <a class="carousel-item" href="#nine!"><img src="assets/OneYear17.jpg"></a>
      <a class="carousel-item" href="#ten!"><img src="assets/JoeNiceFebruary17.jpg"></a>
      <a class="carousel-item" href="#eleven!"><img src="assets/YukkJanuary17.jpg"></a>
      <a class="carousel-item" href="#twelve!"><img src="assets/YakzDecember16.jpg"></a>
      <a class="carousel-item" href="#thirteen!"><img src="http://www.placecage.com/g/250/450"></a>
      <a class="carousel-item" href="#fourteen!"><img src="assets/DubtekOctober16"></a>
      <a class="carousel-item" href="#fifteen!"><img src="assets/TheGreysSeptember16.jpg"></a>
      <a class="carousel-item" href="#sixteen!"><img src="assets/AbstraktAugust16"></a>
      <a class="carousel-item" href="#seventeen!"><img src="assets/SwaydJuly16.jpg"></a>
      <a class="carousel-item" href="#eighteen!"><img src="assets/VariantJune16.jpg"></a>
      <a class="carousel-item" href="#nineteen!"><img src="assets/BlankfaceMay16.jpg"></a>
      <a class="carousel-item" href="#twenty!"><img src="assets/PressApril16.jpg"></a>
      <a class="carousel-item" href="#twentyone!"><img src="assets/FirstEvent16.jpg"></a>
    </div>
    <!-- <div class="social-media">
    <img class="facebook" src="assets/facebook-logo.png"/>
    <div class="fb-like" data-href="https://www.facebook.com/seattlesubsessions/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    <img class="instagram" src="assets/instagram.png"/>
    <img class="twitter" src="assets/twitter.png"/>
    <img class="snapchat" src="assets/snapchat.png"/>
    </div> -->



</div>
